@import 'styles/variables';
.search-sort-filter {
    .tools-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0px 36px 24px 36px;
        border-bottom: 1px solid $blue-gray-100;
        .ant-form-item {
            margin-bottom: 0px;
            .search-input {
                position: relative;
                padding: 4px 4px 4px 16px;
                border-radius: $border-radius-small;
                border: 1px solid $blue-gray-100;
                input {
                    border: none;
                    width: calc(289px + 65px);
                }
                input::placeholder {
                    color: $blue-gray-400;
                }
                div .clear-input {
                    position: absolute;
                    right: 20%;
                }
            }
        }
        .button-container {
            display: flex;
            align-items: center;
        }
    }
}

.ant-dropdown {
    //sort dropdown menu
    .ant-dropdown-menu.sortby-dropdown-menu.buyer {
        padding: 24px;
        border-radius: $border-radius-large;
        .sortby-dropdown-menu-container {
            span.sort-item {
                cursor: pointer;
                margin-bottom: 16px;
                color: $blue-gray-700;
            }
        }
    }
    // filter dropdwon menu
    .ant-dropdown-menu.filter-dropdown-menu.buyer {
        padding: 24px;
        border-radius: $border-radius-large;
        .filter-dropdown-menu-container {
            p.checkbox-text {
                font-size: $font-size-base;
                color: $blue-gray-400;
                margin-bottom: 13px;
            }
            .checkbox-container {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                label.ant-checkbox-wrapper {
                    padding: 0;
                    margin: 0px 36px 0px 0px;
                    display: flex;
                    align-items: center;
                    span.ant-checkbox {
                        margin-right: 16px;
                        padding-bottom: 6px;
                        span.ant-checkbox-inner {
                            width: 24px;
                            height: 24px;
                            border-radius: 6px;
                            border: 2px solid $blue-gray-700;
                        }
                    }
                    span {
                        font-size: $font-size-normal;
                        color: $blue-gray-700;
                        padding: 0;
                        margin: 0;
                    }
                    &.ant-checkbox-wrapper-checked {
                        span.ant-checkbox-checked {
                            &::after {
                                border: unset;
                            }
                            span.ant-checkbox-inner {
                                border-color: transparent;
                                background: linear-gradient(225deg, #e56c76 0%, #d8528e 100%);
                                &::after {
                                    left: 6px;
                                    border-width: 3px;
                                    width: 6px;
                                    height: 10px;
                                }
                            }
                        }
                        span {
                            color: $vinivia-pink-500;
                        }
                    }
                }
            }
        }
    }
}