@import '../../../styles/variables';
@import '../../../styles/mixin';

.ant-form-item.form-input-wrapper {
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  .ant-col.ant-form-item-label {
    @include lableInput;
  }
  input {
    padding: 14px;
    border-radius: $border-radius-medium;
  }
}
